@using WebApplication2.Entities;
@model List<WebApplication2.Entities.Ganre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Create new ganre", "Create")

<table class="table table-striped">

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@Html.ActionLink("Редактировать жанр", "EditGanre", new { id = @item.Id })</td>
            <td>@Html.ActionLink("Удалить жанр", "Delete", new { id = @item.Id })</td>
        </tr>

    }
</table>

